# Hi, This is the first code. Here we are trying to impute the missing UserIDs

In [28]:
import pandas as pd
import numpy as np

In [29]:
df= pd.read_csv('VisitorLogsData.csv')

In [30]:
df['Activity'] = df['Activity'].str.upper()
df['ProductID'] = df['ProductID'].str.upper()
df['OS']= df['OS'].str.upper()
df['Browser']= df['Browser'].str.upper()
df['City']= df['City'].str.upper()
df['Country']= df['Country'].str.upper()

In [31]:
df=df.drop_duplicates()

In [32]:
df

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
0,WI10000050298,2018-05-07 04:28:45.970,PR100631,NaN,NaN,CHROME MOBILE,ANDROID,CHENNAI,INDIA
1,WI10000025922,2018-05-13 07:26:04.964,PR100707,NaN,NaN,CHROME,WINDOWS,NaN,TAIWAN
2,WI100000204522,2018-05-11 11:43:42.832,PR100030,NaN,CLICK,CHROME,WINDOWS,GURGAON,INDIA
3,WI10000011974,2018-05-13 15:20:23.436,PR100192,NaN,CLICK,CHROME,WINDOWS,,
4,WI100000441953,2018-05-08 20:44:25.238,PR100762,NaN,CLICK,CHROME,MAC OS X,ISELIN,UNITED STATES
...,...,...,...,...,...,...,...,...,...
6099995,WI100000360537,1526795594177000000,PR100017,NaN,PAGELOAD,CHROME MOBILE,ANDROID,NaN,INDIA
6099996,WI10000019872,2018-05-12 09:07:48.455,PR100359,NaN,NaN,CHROME,WINDOWS,REDBANK,AUSTRALIA
6099997,WI10000017555,2018-05-26 16:52:46.585,PR100017,NaN,CLICK,CHROME MOBILE,ANDROID,NaN,INDIA
6099998,WI1000005296,2018-05-22 10:22:53.374,PR101042,U100797,CLICK,CHROME,WINDOWS,NaN,INDIA
6099999,WI100000278516,NaN,PR100006,NaN,NaN,MOBILE SAFARI,IOS,FREMONT,UNITED STATES FREMONT

In [33]:
df.isnull().sum()

webClientID            0
VisitDateTime     480443
ProductID         483902
UserID           5386218
Activity          815415
Browser                0
OS                     0
City             1960787
Country           363803
dtype: int64

### Here we are trying to fill the null values in UserID based on the webClientID.

In [34]:
web_user = df[['webClientID','UserID']]
web_user.dropna(inplace=True, axis =0)
web_user.drop_duplicates(inplace=True)

C:\Users\Ryuk\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ryuk\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [35]:
df.loc[df.UserID.isnull(),'UserID'] = web_user.groupby(['webClientID'] )['UserID'].transform(lambda x: x)

In [36]:
df.isnull().sum()

webClientID            0
VisitDateTime     480443
ProductID         483902
UserID           5386218
Activity          815415
Browser                0
OS                     0
City             1960787
Country           363803
dtype: int64

##### Turns out that the null elements are still the same. The webClientID corresponding to null users are all non-registered users. We are going to drop the rows.

### Dropping the null values in UserID and saving it to a new csv_file for code-2

In [37]:
df = df.loc[df['UserID'].notnull()]

In [38]:
df

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
14,WI100000112772,1526366895249000000,PR100017,U106593,CLICK,CHROME MOBILE,ANDROID,,
21,WI1000009977,1527058921790000000,PR101008,U108297,NaN,CHROME MOBILE,ANDROID,DELHI,INDIA
23,WI100000223826,2018-05-10 06:28:53.391,PR100241,U132443,NaN,FIREFOX,WINDOWS,NaN,INDIA
24,WI10000021998,2018-05-08 12:40:02.153,PR100495,U134616,CLICK,CHROME,WINDOWS,COTTAGE GROVE,UNITED STATES
33,WI10000036281,2018-05-11 15:35:43.689,PR100363,U130784,CLICK,CHROME,CHROME OS,NEW DELHI,INDIA
...,...,...,...,...,...,...,...,...,...
6099910,WI100000366798,2018-05-09 05:31:36.893,PR100908,U116161,PAGELOAD,CHROME,MAC OS X,VIJAYAWADA,INDIA VIJAYAWADA
6099920,WI100000477745,2018-05-25 22:57:15.454,PR100859,U109265,CLICK,CHROME,WINDOWS,NaN,RWANDA
6099943,WI100000165252,2018-05-24 10:32:13.062,PR100432,U106404,CLICK,CHROME,WINDOWS,NaN,INDIA
6099973,WI100000132621,2018-05-07 08:05:42.686,PR100070,U136505,PAGELOAD,CHROME MOBILE,ANDROID,NaN,INDIA
6099998,WI1000005296,2018-05-22 10:22:53.374,PR101042,U100797,CLICK,CHROME,WINDOWS,NaN,INDIA

In [39]:
df.to_csv('step1.csv', index=False)